<div style="width: 350px; float: left; padding-right: 20px">
  <h2>About Me</h2>
  <p>A pragmatic software engineer but still yearn for excellency in his practices. Guided by a simple belief "Human-First".
    A multiplier for teams and organizations by fostering collaboration, knowledge sharing, and continuous improvement.
    My goal is to become a Technical Architect—because it's the perfect blend of technical excellence, strategic mindset, and inspiring others.
  </p>

  <h2>Certifications</h2>
  <ul>
    <li>Identity and Access Management Architect</li>
    <li>Experience Cloud Consultant</li>
    <li>Data Cloud Consultant</li>
    <li>User Experience Designer</li>
    <li>Platform Developer II</li>
    <li>Platform Developer I</li>
    <li>JavaScript Developer I</li>
    <li>Advanced Administrator</li>
    <li>Administrator (SCA)</li>
    <li>Platform App Builder Certification</li>
  </ul>

  <h2>Contacts</h2>
  <p>Email: phap.dang@example.com</p>
  <p>LinkedIn: <a href="https://www.linkedin.com/in/phap-mai-dang-747826260/">Phap Mai Dang</a></p>
  <p>Github: <a href="https://github.com/mdphap/">mdphap</a></p>
  <p>Trailblazer: <a href="https://www.salesforce.com/trailblazer/profile">Phap Mai Dang</a></p>
</div>