<div style="width: 350px; float: left; padding-right: 20px">
  <h2>About Me</h2>
  <p>A pragmatic software engineer but still yearn for excellency in his practices. Guided by a simple belief "Human-First".
    A multiplier for teams and organizations by fostering collaboration, knowledge sharing, and continuous improvement.
    My goal is to become a Technical Architect—because it’s the perfect blend of technical excellence, strategic mindset, and inspiring others.
  </p>

  <h2>Certifications</h2>
  <ul>
    <li>Platform Developer I</li>
    <li>OmniStudio Developer</li>
    <li>Experience Cloud Consultant</li>
  </ul>

  <h3>Contact</h3>
  <p>Email: phap.dang@example.com<br>
  LinkedIn: <a href="https://linkedin.com/in/phapdang">Profile</a></p>
</div>