---
---

@import "{{ site.theme }}";
.flex-container {
    display: flex;
    flex-direction: row;
}

.left-column {
    flex: 1;
}

.right-column {
    flex: 3;
}
@media (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }
    .left-column, .right-column {
        width: 100%;
    }
}


