---
---

@import "{{ site.theme }}";
.flex-container {
    display: flex;
    flex-direction: row;
}

.left-column {
    flex: 1;
}

.right-column {
    flex: 3;
}
.header-container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}
.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 0 0 0;
}
@media (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }
    .left-column,
    .right-column {
        width: 100%;
    }
    .container {
        width: 90%;
        max-width: 1000px;
        margin: 0 auto;
    }
}
